[submodule ".registry"]
	path = .registry
	url = https://github.com/civilytics/civilytics.r-universe.dev
	branch = HEAD
[submodule "fbiCDE"]
	path = fbiCDE
	url = https://github.com/civilytics/fbi_cde
	branch = v0.1.0
[submodule "uscogdata"]
	path = uscogdata
	url = https://github.com/civilytics/uscogdata
	branch = v0.4.0
